AWSTemplateFormatVersion: "2010-09-09"
Description: "Quiz Night Live - AppSync GraphQL API"

Parameters:
  Stage:
    Type: String
    Description: Deployment stage
  AppName:
    Type: String
    Description: Application Name
  TemplateBucketName:
    Type: String
    Description: S3 bucket for templates
  UserPoolId:
    Type: String
    Description: Cognito User Pool ID
  DataTableName:
    Type: String
    Description: DynamoDB table name
  AppSyncDynamoDBRoleArn:
    Type: String
    Description: IAM Role ARN for AppSync to access DynamoDB
  LogRetentionInDays:
    Type: Number
    Description: CloudWatch log retention
    Default: 14
  GetAblyTokenFunctionArn:
    Type: String
    Description: Get Ably Token Lambda ARN
  EnsureProfileFunctionArn:
    Type: String
    Description: Ensure Profile Lambda ARN
  CreateCheckoutFunctionArn:
    Type: String
    Description: Create Checkout Lambda ARN
  CreateTipCheckoutFunctionArn:
    Type: String
    Description: Create Tip Checkout Lambda ARN
  CheckEmailHasGoogleAccountFunctionArn:
    Type: String
    Description: Check Email Has Google Account Lambda ARN
  SchemaReadyWaiterFunctionArn:
    Type: String
    Description: Schema Ready Waiter Lambda ARN
  ResolversBuildHash:
    Type: String
    Description: Build hash for resolver versioning
  SchemaBuildHash:
    Type: String
    Description: Build hash for schema versioning

Resources:
  # AppSync GraphQL API
  GraphQLApi:
    Type: AWS::AppSync::GraphQLApi
    Properties:
      Name: !Sub "${AppName}-api-${Stage}"
      AuthenticationType: AMAZON_COGNITO_USER_POOLS
      UserPoolConfig:
        UserPoolId: !Ref UserPoolId
        AwsRegion: !Ref AWS::Region
        DefaultAction: ALLOW
      AdditionalAuthenticationProviders:
        - AuthenticationType: AWS_IAM
      XrayEnabled: true
      LogConfig:
        CloudWatchLogsRoleArn: !GetAtt AppSyncLogsRole.Arn
        ExcludeVerboseContent: false
        FieldLogLevel: ERROR
      Tags:
        - Key: Project
          Value: quiz-night-live
        - Key: Stage
          Value: !Ref Stage

  # GraphQL Schema - loaded from S3 (merged from backend/schema/*.graphql files)
  # NEVER embed schema inline - see ARCHITECTURE_GUIDELINES.md
  GraphQLSchema:
    Type: AWS::AppSync::GraphQLSchema
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      DefinitionS3Location: !Sub "s3://${TemplateBucketName}/schema/${Stage}/${SchemaBuildHash}/schema.graphql"

  # Custom Resource that waits for schema to be fully ready
  # This ensures resolvers aren't created until schema update is complete.
  # CloudFormation's DependsOn only checks existence, not update completion.
  SchemaReadyCustomResource:
    Type: Custom::SchemaReady
    DependsOn: GraphQLSchema
    Properties:
      ServiceToken: !Ref SchemaReadyWaiterFunctionArn
      ApiId: !GetAtt GraphQLApi.ApiId
      SchemaHash: !Ref SchemaBuildHash

  # DynamoDB Data Source
  DynamoDBDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: DynamoDBDataSource
      Type: AMAZON_DYNAMODB
      ServiceRoleArn: !Ref AppSyncDynamoDBRoleArn
      DynamoDBConfig:
        AwsRegion: !Ref AWS::Region
        TableName: !Ref DataTableName

  # Lambda Data Source for Ably Token
  AblyTokenDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: AblyTokenDataSource
      Type: AWS_LAMBDA
      ServiceRoleArn: !GetAtt AppSyncLambdaRole.Arn
      LambdaConfig:
        LambdaFunctionArn: !Ref GetAblyTokenFunctionArn

  # Lambda Data Source for Ensure Profile
  EnsureProfileDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: EnsureProfileDataSource
      Type: AWS_LAMBDA
      ServiceRoleArn: !GetAtt AppSyncLambdaRole.Arn
      LambdaConfig:
        LambdaFunctionArn: !Ref EnsureProfileFunctionArn

  # Lambda Data Source for Create Checkout
  CreateCheckoutDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: CreateCheckoutDataSource
      Type: AWS_LAMBDA
      ServiceRoleArn: !GetAtt AppSyncLambdaRole.Arn
      LambdaConfig:
        LambdaFunctionArn: !Ref CreateCheckoutFunctionArn

  # Lambda Data Source for Check Email Has Google Account
  CheckEmailHasGoogleAccountDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: CheckEmailHasGoogleAccountDataSource
      Type: AWS_LAMBDA
      ServiceRoleArn: !GetAtt AppSyncLambdaRole.Arn
      LambdaConfig:
        LambdaFunctionArn: !Ref CheckEmailHasGoogleAccountFunctionArn

  # Lambda Data Source for Tip Checkout
  CreateTipCheckoutDataSource:
    Type: AWS::AppSync::DataSource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      Name: CreateTipCheckoutDataSource
      Type: AWS_LAMBDA
      ServiceRoleArn: !GetAtt AppSyncLambdaRole.Arn
      LambdaConfig:
        LambdaFunctionArn: !Ref CreateTipCheckoutFunctionArn

  # Resolvers
  GetMyProfileResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getMyProfile
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/users/Queries/Query.getMyProfile.js"

  GetUserProfileResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getUserProfile
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/users/Queries/Query.getUserProfile.js"

  CheckDisplayNameAvailableResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: checkDisplayNameAvailable
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/users/Queries/Query.checkDisplayNameAvailable.js"

  CheckEmailHasGoogleAccountResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: checkEmailHasGoogleAccount
      DataSourceName: !GetAtt CheckEmailHasGoogleAccountDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/auth/Queries/Query.checkEmailHasGoogleAccount.js"

  GetLeaderboardResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getLeaderboard
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/leaderboard/Queries/Query.getLeaderboard.js"

  GetMyRankResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getMyRank
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/leaderboard/Queries/Query.getMyRank.js"

  GetAblyTokenResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getAblyToken
      DataSourceName: !GetAtt AblyTokenDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/ably/Queries/Query.getAblyToken.js"

  UpdateDisplayNameResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: updateDisplayName
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/users/Mutations/Mutation.updateDisplayName.js"

  MarkGiftNotificationSeenResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: markGiftNotificationSeen
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/users/Mutations/Mutation.markGiftNotificationSeen.js"

  EnsureProfileResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: ensureProfile
      DataSourceName: !GetAtt EnsureProfileDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/profile/Mutations/Mutation.ensureProfile.js"

  # Subscription (Payment) Resolvers
  CreateCheckoutSessionResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: createCheckoutSession
      DataSourceName: !GetAtt CreateCheckoutDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/subscription/Mutations/Mutation.createCheckoutSession.js"

  # Tip Checkout Resolver
  CreateTipCheckoutResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: createTipCheckout
      DataSourceName: !GetAtt CreateTipCheckoutDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/tip/Mutations/Mutation.createTipCheckout.js"

  # Chat Resolvers
  GetChatMessagesResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getChatMessages
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/chat/Queries/Query.getChatMessages.js"

  GetMyConversationsResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getMyConversations
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/chat/Queries/Query.getMyConversations.js"

  SendChatMessageResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: sendChatMessage
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/chat/Mutations/Mutation.sendChatMessage.js"

  StartConversationResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: startConversation
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/chat/Mutations/Mutation.startConversation.js"

  # Admin Resolvers
  GetWebhookLogsResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Query
      FieldName: getWebhookLogs
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/admin/Queries/Query.getWebhookLogs.js"

  AdminUpdateUserTierResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: adminUpdateUserTier
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/admin/Mutations/Mutation.adminUpdateUserTier.js"

  AdminGiftSubscriptionResolver:
    Type: AWS::AppSync::Resolver
    DependsOn: SchemaReadyCustomResource
    Properties:
      ApiId: !GetAtt GraphQLApi.ApiId
      TypeName: Mutation
      FieldName: adminGiftSubscription
      DataSourceName: !GetAtt DynamoDBDataSource.Name
      Kind: UNIT
      Runtime:
        Name: APPSYNC_JS
        RuntimeVersion: "1.0.0"
      CodeS3Location: !Sub "s3://${TemplateBucketName}/resolvers/${Stage}/${ResolversBuildHash}/admin/Mutations/Mutation.adminGiftSubscription.js"

  # IAM Role for AppSync to invoke Lambda
  AppSyncLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AppName}-appsync-lambda-${Stage}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: appsync.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !Ref GetAblyTokenFunctionArn
                  - !Ref EnsureProfileFunctionArn
                  - !Ref CreateCheckoutFunctionArn
                  - !Ref CreateTipCheckoutFunctionArn
                  - !Ref CheckEmailHasGoogleAccountFunctionArn

  # IAM Role for AppSync CloudWatch Logs
  AppSyncLogsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AppName}-appsync-logs-${Stage}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: appsync.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSAppSyncPushToCloudWatchLogs

Outputs:
  AppSyncApiUrl:
    Description: AppSync API URL
    Value: !GetAtt GraphQLApi.GraphQLUrl

  AppSyncApiId:
    Description: AppSync API ID
    Value: !GetAtt GraphQLApi.ApiId

  AppSyncApiArn:
    Description: AppSync API ARN
    Value: !GetAtt GraphQLApi.Arn
